*{
    font-family: 'Times New Roman', Times, serif;
}
h1.heading-about-us{
    text-align: center; 
    color: #22493b; 
    font-size: 30px; 
    font-weight: 800; 
    justify-content: center; 
    display: flex; 
    gap: 8px;

}
.example-table {
    width: 100%;
  }
