<div style="width: 100%; margin-top: 50%;">
    <div class="btn-group">
        <button type="button" class="btn btn-danger">Action</button>
        <button type="button" class="btn btn-danger dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
          <span class="visually-hidden">Toggle Dropdown</span>
        </button>
        <ul class="dropdown-menu">
          <li><div>
            Nguyên trần <button>
                Go to home
            </button>
          </div></li>
          <li><a class="dropdown-item" href="#">Another action</a></li>
          <li><a class="dropdown-item" href="#">Something else here</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" href="#">Separated link</a></li>
        </ul>
      </div>
    <mat-tab-group>
        <mat-tab label="Thông tin tài khoản chung"> 
            <div style="margin-top: 50px;">
                <form class="example-form">
                    <div>
                        <mat-form-field class="example-full-width">
                            <mat-label>Favorite food</mat-label>
                            <input matInput placeholder="Ex. Pizza" value="Sushi">
                          </mat-form-field>
                    </div>
                    <div>
                        <mat-form-field class="example-full-width">
                            <mat-label>Leave a comment</mat-label>
                            <textarea matInput placeholder="Ex. It makes me feel..."></textarea>
                        </mat-form-field>
                    </div>        
    
                  </form>
            </div>

              
        </mat-tab>
        <mat-tab label="Second"> 
          </mat-tab>
        <mat-tab label="Third"> Content 3 </mat-tab>
      </mat-tab-group>
</div>

  
